<div class="center-container">
  <mat-card class="card-series" *ngFor="let p of blogService.series">
    <mat-card-header>
      <mat-card-title>{{'blogs.series.'+p.ID+'.title' | translate}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{p.Thumbnail}}" alt="">
    <mat-card-content>
      <p>{{'blogs.series.'+p.ID+'.description' | translate}}</p>
      <mat-divider></mat-divider>
      <app-serie-list-item [id]="p.ID" [posts]="p.Posts"></app-serie-list-item>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
