<div>
  <div class="header center-container">
    <h1>{{ 'page.home.title' | translate}}</h1>
  </div>

  <div class="description">
    {{'page.home.description'|translate}}
  </div>

  <div class="link-website">
    <div class="description">
      {{'link-account.description'| translate}}
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <div *ngFor="let a of accounts">
        <mat-list-item class="description">
          <app-link-account-site [account]="a"></app-link-account-site>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>

</div>
